cveBuster Vulnerability Scanning/Playbooks/cveBuster-get-vulnerability-details/incident-trigger/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "cveBuster-get-vulnerability-details",
        "description": "This playbook enriches Microsoft Sentinel incidents with detailed vulnerability reports from cveBuster API. When an incident is created, it extracts host entities and queries the cveBuster API for vulnerability information, then adds a formatted report as an incident comment.",
        "prerequisites": [
            "cveBuster API endpoint must be accessible from Azure Logic Apps",
            "cveBuster API server must be running (e.g., http://cvebuster.eastus.cloudapp.azure.com:5000)",
            "The API must support the /api/{hostname} endpoint pattern"
        ],
        "postDeployment": [
            "1. Authorize the Microsoft Sentinel connection in the Logic App.",
            "2. Assign Microsoft Sentinel Responder role to the playbook's managed identity.",
            "3. Update the HTTP action URI if your cveBuster API endpoint differs from the default.",
            "4. Attach this playbook to an **automation rule** so it runs when incidents are created.",
            "5. Ensure the automation rule filters for incidents with Host entities.",
            "[Learn more about automation rules](https://docs.microsoft.com/azure/sentinel/automate-incident-handling-with-automation-rules)"
        ],
        "lastUpdateTime": "2026-01-18T00:00:00.000Z",
        "entities": ["Host"],
        "tags": ["Enrichment", "Vulnerability"],
        "support": {
            "tier": "Community"
        },
        "author": {
            "name": "cveBuster"
        }
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "cveBuster-get-vulnerability-details",
            "type": "string",
            "metadata": {
                "description": "Name of the Logic App/Playbook"
            }
        },
        "cveBusterApiEndpoint": {
            "defaultValue": "http://cvebuster.eastus.cloudapp.azure.com:5000",
            "type": "string",
            "metadata": {
                "description": "Base URL for your cveBuster API endpoint (without trailing slash)"
            }
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('AzureSentinelConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "hidden-SentinelTemplateName": "cveBuster-get-vulnerability-details",
                "hidden-SentinelTemplateVersion": "1.0"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "cveBusterApiEndpoint": {
                            "defaultValue": "[parameters('cveBusterApiEndpoint')]",
                            "type": "string"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@listCallbackUrl()"
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Entities_-_Get_Hosts": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "path": "/entities/host"
                            }
                        },
                        "For_each_host": {
                            "foreach": "@body('Entities_-_Get_Hosts')?['Hosts']",
                            "actions": {
                                "Query_cveBuster_API": {
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "@{parameters('cveBusterApiEndpoint')}/api/@{toLower(items('For_each_host')?['HostName'])}",
                                        "method": "GET"
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                },
                                "Add_vulnerability_report_to_incident": {
                                    "runAfter": {
                                        "Query_cveBuster_API": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "body": {
                                            "incidentArmId": "@triggerBody()?['object']?['id']",
                                            "message": "<pre>@{body('Query_cveBuster_API')}</pre>"
                                        },
                                        "path": "/Incidents/Comment"
                                    }
                                }
                            },
                            "runAfter": {
                                "Entities_-_Get_Hosts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    },
                    "cveBusterApiEndpoint": {
                        "value": "[parameters('cveBusterApiEndpoint')]"
                    }
                }
            }
        }
    ]
}
